@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-2 sm:px-6 py-2 border rounded-full uppercase text-xs sm:text-sm tracking-widest text-white transition-all;
    border-color: #24242400;

    &:hover {
      @apply text-[#f7ac0ab9];
      border-color: #f7ac0ab9;
    }
  }
}

.mySwiper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.mySwiper {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #f7ac0ab9 !important;
}

/* Other bullets color */
.mySwiper .swiper-pagination-bullet {
  background-color: white !important; /* You can adjust the opacity as needed */
}

/* Navigation arrows color */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
}
