@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-2 sm:px-6 py-2 border rounded-full uppercase text-xs sm:text-sm tracking-widest text-white transition-all;
    border-color: #24242400;

    &:hover {
      @apply text-[#f7ac0ab9];
      border-color: #f7ac0ab9;
    }
  }
}

.no-mousewheel {
  touch-action: pan-y; /* Allow vertical scrolling */
  pointer-events: none; /* Disable mouse events */
}

.no-mousewheel * {
  pointer-events: auto; /* Re-enable mouse events for child elements */
}

.mySwiper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.mySwiper {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
